@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400,700);
@import url(http://fonts.googleapis.com/css?family=Nobile:400,700);
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body, div, section, ul, li, article, main {
  margin: 0;
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

nav li a, span {
  font-family: 'Lobster Two', cursive;
  color: #fefefe;
  font-size: 20px;
}

nav {
  background-image: url("../../img/nav.png");
  min-height: 70px;
  vertical-align: middle;
  margin: 70px 0 40px 0;
  width: 100%;
  position: relative;
}

body, html {
  min-height: 600px;
}

.home-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.box-message {
  background-color: #bec3db;
  color: #fcfcfe;
  padding: 20px 30px;
  font-size: 18px;
  letter-spacing: 1px;
  max-width: 250px;
  position: absolute;
  bottom: 10px;
  left: 25%;
}

.blue {
  background-color: #6fcbd2;
}

p, .benefits {
  color: #757575;
  line-height: 1.2em;
}

.logo {
  width: 220px;
}

.logo-link {
  position: absolute;
  left: 2%;
  top: -80px;
  /* vertical-align: middle; */
  padding: 15px;
  z-index: 1000;
}

.small-logo {
  display: none;
}

.wrapper {
  padding: 0;
  margin: 0 auto;
}

.left-image {
  width: 55%;
  float: left;
  max-height: 100%;
  position: relative;
}
.left-image img {
  width: 100%;
  height: 100%;
}

.right-content {
  width: 40%;
  float: right;
  max-height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 10px;
  margin: 0 1%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* this targets the default scrollbar  */
::-webkit-scrollbar-track {
  background-color: #88bfd1;
}

/* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
  background-color: #5f8895;
}

/* this will style the thumb, ignoring the track */
.menu {
  margin: 0;
  width: 75%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  vertical-align: middle;
}
.menu li {
  display: inline-block;
  margin: 0;
  padding: 2%;
  width: 15%;
  text-align: center;
}
.menu a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.menu a:visited {
  color: white;
}
.menu a:hover {
  font-weight: bold;
}

footer {
  width: 100%;
  min-height: 50px;
  background-image: url("../../img/footer.jpg");
}

.social-media {
  width: 30%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}
.social-media li {
  display: inline-block;
  width: 20px;
  padding: 5px;
  text-align: center;
}
.social-media li img {
  width: 100%;
}

#SkypeButton_Call_winekehealing_1_paraElement img {
  margin: 0;
}

form {
  margin: 5% 0;
}

input, textarea {
  border: 3px solid #6fcbd2;
  display: block;
  padding: 8px;
  width: 60%;
  margin: 2% 0;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
input:focus, textarea:focus {
  outline: none;
  border-color: #bec3db;
}

input[type=submit] {
  width: 25%;
  padding: 10px;
  color: white;
  background-color: #6fcbd2;
  border-radius: 2px;
  border: none;
  margin: 1% 0;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  cursor: pointer;
}
input[type=submit]:focus {
  outline: none;
  font-weight: bold;
}
input[type=submit]:hover {
  background-color: #bec3db;
}

::-webkit-input-placeholder {
  color: #6fcbd2;
  font-size: 12px;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #6fcbd2;
  font-size: 12px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #6fcbd2;
  font-size: 12px;
}

:-ms-input-placeholder {
  color: #6fcbd2;
  font-size: 12px;
}

.error {
  background-color: rgba(255, 0, 0, 0.2);
}

.submissionMessage {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  display: block;
  box-shadow: 0 0 2px white;
  width: 60%;
}

@media all and (max-width: 400px) {
  nav {
    background-image: none;
    max-height: 100px;
    margin: 0 0 5% 0;
  }

  .logo-link {
    display: none;
    position: fixed;
    width: 100px;
    top: 5px;
    margin: 10px auto 5px auto;
    text-align: center;
  }

  .logo {
    position: relative;
    width: 100%;
  }

  .small-logo {
    display: block;
    width: 70px;
    margin: 0 5px;
    position: absolute;
    right: 5px;
    top: 0;
  }
  .small-logo img {
    width: 100%;
  }

  .menu {
    position: relative;
    background-image: url("../../img/nav.png");
    width: 100%;
  }
  .menu li {
    padding: 3px 2px;
    margin: 4px 0;
  }
  .menu li a {
    padding: 1.5%;
    font-size: 16px;
  }
  .menu li.top {
    width: 31%;
  }
  .menu li.bottom {
    width: 45%;
  }

  .left-image {
    display: none;
  }

  .right-content {
    width: 90%;
    overflow: auto;
    position: relative;
  }
  .right-content h2 {
    display: inline-block;
  }

  .social-media {
    width: 80%;
  }
}
