@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400,700);
@import url(http://fonts.googleapis.com/css?family=Nobile:400,700);
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body, div, section, ul, li, article, main {
  margin: 0;
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

nav li, span {
  font-family: 'Lobster Two', cursive;
}

body, html {
  position: relative;
  height: 100%;
}

.wrapper {
  padding: 0;
  margin: 5% auto;
}

.left-image {
  width: 50%;
  float: left;
  max-height: 500px;
}
.left-image img {
  width: 100%;
}

.right-content {
  width: 45%;
  float: right;
  max-height: 500px;
  overflow: scroll;
  padding: 0 10px;
}

nav {
  width: 100%;
}

.menu {
  padding: 0;
  margin: 0;
  width: 80%;
  float: right;
}
.menu li {
  display: inline-block;
  margin: 0;
  padding: 2%;
  width: 15%;
}

footer {
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.social-media {
  width: 30%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.social-media li {
  display: inline-block;
  width: 15px;
  padding: 5px;
  text-align: center;
}
.social-media li img {
  width: 100%;
}

.error {
  background-color: rgba(255, 0, 0, 0.2);
}

.submissionMessage {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  display: block;
  box-shadow: 0 0 2px white;
  width: 60%;
}
