<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="$1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Contact</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <nav>
            <img src="" alt="Wineke Healing Logo">
            <ul>
                <li><a href="#">Energy Healing</a></li>
                <li><a href="#">Modalities</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
            <section class="left-image">
                <img src="" alt="">
            </section>
            <section class="right-content contact">
            <h2>Contact Me</h2>
            <p>Start your healing today.</p>
            <div class="phone">
                <h4>Wineke (Winnie) Engelage</h4>
                <p>C: 416-817-6906</p>
                <p>H: 905-201-1096</p>
                <p>You are welcome to leave me a voicemail and I will get back to you asap :)</p>
            </div>
            <form ng-submit="submitForm()" ng-controller="FormController" novalidate>
              <label for="name">Name</label>
              <input type="text" name="name" ng-model="formData.name" ng-class="{'error' : errorName}">
              <label for="email">E-mail</label>
              <input type="email" name="email" ng-model="formData.email" ng-class="{'error' : errorEmail}">
              <label for="message">Message</label>
              <textarea name="message" ng-class="{'error' : errorTextarea}" ng-model="formData.message" cols="30" rows="10"></textarea>
              <input type="submit" value="Send!" name="submit">
              <div ng-class="{'submissionMessage' : submission}" ng-bind="submissionMessage"></div>
            </form>
            </section>
        <footer>
            <ul class="social-media">
                <li><a href="http://instagram.com/winekehealing"><img src="img/pinterest.png" alt="Pinterest Icon"></a></li>
                <li><a href="https://twitter.com/WinekeHealing"><img src="img/twitter.png" alt="Twitter Icon"></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100008194597735&fref=browse_search"><img src="img/facebook.png" alt="Facebook Icon"></a></li>
                <li>
                    <div id="SkypeButton_Call_winekehealing_1"></div>
                </li>
            </ul>
        </footer>

        <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
        <script type="text/javascript">
          Skype.ui({
            "name": "call",
            "element": "SkypeButton_Call_winekehealing_1",
            "participants": ["winekehealing"],
            "imageSize": 32
          });
        </script>
    </body>
</html>