$blue: #6fcbd2;
$white: #ffffff;
$text: rgb(117, 117, 117);
$tag-color: rgb(254, 254, 254);
$light-blue: lightblue;
$darker-blue: rgb(99, 196, 228);


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400,700);
@import url(http://fonts.googleapis.com/css?family=Nobile:400,700);

body, div, section, ul, li, article, main {
	margin: 0;
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

nav li a, span {
	font-family: 'Lobster Two', cursive;
	color: $tag-color;
	font-size: 20px;
}

nav {
	background-image: url('../../img/nav.png');
	min-height: 70px;
	vertical-align: middle;
	margin: 70px 0;
	width: 100%;
	position: relative;
}

body, html {
	height: 100%;
}

p, .benefits {
	color: $text;
	line-height: 1.2em;
}

.logo {
	width: 200px;
	position: absolute;
	top: 30px;
	left: 2%;
}

.logo-link {
	position: absolute;
	left: 1%;
	top: -70px;
	/* vertical-align: middle; */
	background-color: white;
	width: 200px;
	padding: 15px;
	border-radius: 50%;
	height: 200px;
	border: 3px solid lightblue;
}

.wrapper {
	padding: 0;
	margin: 0 auto;
}

.left-image {
	width: 55%;
	float: left;
	max-height: 100%;
	img {
		width: 100%;
		height: 100%;
	}
}

.right-content {
	width: 40%;
	float: right;
	max-height: 500px;
	overflow: scroll;
	padding: 0 10px;
}


.menu {
	margin: 0;
	width: 80%;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;	
	vertical-align: middle;

	li {
		display: inline-block;
		margin: 0;
		padding: 2%;
		width: 15%;
		text-align: center;
	}
	a {
		text-decoration: none;
		&:visited {

		}
		&:hover {

		}
	}
}

footer {
	width: 100%;
	min-height: 50px;
	background-image: url('../../img/footer.jpg');
}

.social-media {
	width: 30%;
	margin: 0 auto;
	padding: 15px;
	text-align: center;

	li {
		display: inline-block;
		width: 20px;
		padding: 5px;
		text-align: center;

		img {
			width: 100%;
		}
	}
}

// Form submission
form {

}

input, textarea {
	border: 2px solid $light-blue;
	display: block;
	padding: 5px;
	width: 60%;
	margin: 2% 0;
	transition: all 0.5s ease;

	&:focus {
	outline: none;
	border: 2px solid $darker-blue;
	}
}

input[type=submit] {
	width: 40%;
	color: white;
	background-color: $light-blue;
	border-radius: 2px;
	border: none;
	margin: 1% 0;
	transition: all 0.5s ease;
	cursor: pointer;

	&:focus {
		outline: none;
		font-weight: bold;
	}

	&:hover {
		background-color: $darker-blue;
	}
}

::-webkit-input-placeholder {
   color: $light-blue;
}

:-moz-placeholder { /* Firefox 18- */
   color: $light-blue;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $light-blue;  
}

:-ms-input-placeholder {  
   color: $light-blue;  
}

.error {
  background-color: rgba(255, 0, 0, 0.2);
}
.submissionMessage {
  background-color: rgba(255,255,255, 0.2);
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  display: block;
  box-shadow: 0 0 2px white;
  width: 60%;
}

@media all and (max-width: 400px) {
	nav {
		background-image: none;
		margin: 0;
	}
	
	.logo-link {
		display: none;
		margin: 10px auto 5px auto;
		width: 100px;
		height: 100px;
		top: 2px;
		position: relative;
		text-align: center;
	}

	.logo {
		position: relative;
		width: 100%;
	}
	
	.menu {
		position: relative;
		background-image: url('../../img/nav.png');
		width: 100%;

		li {
			width: 18%;
			padding: 0.5%;
			a {
				padding: 1.5%;
			}
		}
		
	}


	.left-image {
		display: none;
	}
	
	.right-content {
		width: 90%;
		overflow: auto;
	}

}