            <section class="left-image">
                <img src="img/puddle.jpg" alt="Image of a puddle">
                <span class="box-message">Connect with me</span>
            </section>
            <section class="right-content contact">
            <h2>Contact Me</h2>
            <a class="small-logo" href="#about"><img src="img/logo.png" alt="Wineke Healing Logo"></a>
            <p>Start your healing today.</p>
            <div class="phone">
                <h4>Wineke (Winnie) Engelage</h4>
                <p><a href="callto://+14168176906">C: 416-817-6906</a></p>
                <p><a href="callto://+19052011096">H: 905-201-1096</a></p>
                <p>You are welcome to leave me a voicemail and I will get back to you asap :)</p>
            </div>
            <form ng-submit="submitForm()" ng-controller="ContactController" novalidate>
              <input type="text" name="name" ng-model="formData.name" ng-class="{'error' : errorName}" placeholder="Your name">
              <input type="email" name="email" ng-model="formData.email" ng-class="{'error' : errorEmail}" placeholder="Your e-mail">
              <textarea name="message" ng-class="{'error' : errorTextarea}" ng-model="formData.message" cols="30" rows="10" placeholder="Your message"></textarea>
              <input type="submit" value="Send!" name="submit">
              <div ng-class="{'submissionMessage' : submission}" ng-bind="submissionMessage"></div>
            </form>
            </section>